<form method="post" action="{{ path('app_bank_delete', {'id': bank.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bank.id) }}">

    <a href="{{ path('app_bank_index') }}" class="btn btn-light">
       <i class="bi bi-arrow-left-circle"></i> Retour
    </a>

    <a href="{{ path('app_bank_edit', {'id': bank.id}) }}" class="btn btn-success">
        <i class="bi bi-pencil"></i>
        Modifier
    </a>

    <button class="btn btn-danger">
        <i class="bi bi-trash"></i>
        Supprimer
    </button>

</form>
