{% extends 'base.html.twig' %}

{% block title %}Banques{% endblock %}

{% block page_title %}
    <i class="bi bi-card-list"></i> {{ block('title') }} 
{% endblock %}

{% block page_action %}
    <a href="{{ path('app_bank_new') }}" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Nouveau
    </a>
{% endblock %}

{% block body %}

    {% include "_partials/_loader.html.twig" with { link: path('app_bank_all') } %}

{% endblock %}
